<h3>Buscar por Región
    <small class="text-info">{{ regionActiva | titlecase }}</small>
</h3>
<hr>

<h5>Seleccione la Región</h5>
<div class="row">
    <!-- [class.btn-primary]="region ===regionActiva" -->
    <!-- [ngClass]="{'btn-primary': region === regionActiva, 
                'btn-outline-primary': region !== regionActiva 
    }"          -->
    <div class="col">
        <button                            
            *ngFor="let region of regiones"
            [class]="getClassCSS(region)"
            (click)="activarRegion(region)"
        >
            {{ region | titlecase }}
        </button>
    </div>
</div>

<hr>
<div class="alert alert-danger" *ngIf="isError">No se encontro el termino {{regionActiva}}</div>

<div class="row" *ngIf="countryList.length > 0">
    <div class="col">
        <app-pais-table  [countryList]="countryList"></app-pais-table>
      </div>
</div>
